<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC  
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
   
<mapper namespace="com.fh.shop.admin.mapper.area.IAreaMapper">
    <select id="findAllAreaByPid" parameterType="java.lang.Integer" resultType="com.fh.shop.admin.po.area.Area">
        select id,Name "areaName",Pid from t_area
        where pid = #{pid}
    </select>
    <!--查询树-->
    <select id="findLayTree" resultType="com.fh.shop.admin.po.area.Area">
        select id,Name "areaName",Pid from t_area
    </select>
    <!--新增节点-->
    <insert id="saveZtree" parameterType="com.fh.shop.admin.po.area.Area">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select last_insert_id()
        </selectKey>
        insert into t_area(pid,Name) values (#{pid},#{areaName})
    </insert>
    <!--删除节点-->
    <delete id="deleteZtreeByPash" parameterType="java.lang.Integer">
        delete from t_area where id in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!--修改节点-->
    <update id="updateZtree" parameterType="com.fh.shop.admin.po.area.Area">
        update t_area set name=#{areaName}
        where id = #{id}
    </update>
</mapper>